<a href="https://colab.research.google.com/github/ChairunnisaAnggunSetiono/Python-Learning-Basic/blob/main/python_learning_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRINTING**

In [ ]:
#Print Words
print("Halo Dunia")
#Print Angka
print(20)
print(20000)

Halo Dunia
20
20000

Variables

In [ ]:
#Variables
angka_1 = 121839128931289381293812938129381293812938912389128391289381238129312
angka_2 = 1213812309123890128391238128390128390812908908

jumlah = angka_1 + angka_2
jumlah
#Text
text = "Saya sedang belajar membuat variabel"
#Text Berisi
sisi_persegi = 6

More Printing

In [ ]:
#Printing Isi Variabel
nama_lengkap = "Raditya Dika"
print(nama_lengkap)
#Printing menggunakan %-formatting
#Text
nama1 = "Rima"
nama2 = "Budi"
print("Hello, %s" % nama1)
print("Hello, %s" % nama2)
#Angka
angka1 = 21
angka2 = 20
print("Inilah adalah angka %d" % angka1)
print("Inilah adalah angka %d" % angka2)
#Gabungan
# Coba code di sini
nama = "Budi"
umur = 22
print("Halo saya %s. Saya berumur %d tahun." %(nama,umur))
#Printing menggunakan f-string
ayam = 15000
bumbu = 10000
beras = 50000
total_belanja = 16000
print(f"Harga ayam adalah {ayam} rupiah, harga bumbu adalah {bumbu} rupiah, harga beras adalah {beras} rupiah. Maka total belanja adalah {total_belanja} rupiah")

Raditya Dika
Hello, Rima
Hello, Budi
Inilah adalah angka 21
Inilah adalah angka 20
Halo saya Budi. Saya berumur 22 tahun.
Harga ayam adalah 15000 rupiah, harga bumbu adalah 10000 rupiah, harga beras adalah 50000 rupiah. Maka total belanja adalah 16000 rupiah

# **Primitive Data Structure**

In [ ]:
#Integer:bilangan bulat (negatif dan positif)
print(1)
#Tipe data sebuah karakter
print(type(6))
#tipe data dari sebuah variabel
int_2 = 23
print(type(int_2))

1
<class 'int'>
<class 'int'>

In [ ]:
#Float:angka desimal
print(3.14)
pi = 3.14
print(type(pi))

In [ ]:
#Operasi Matematika
Pembagian = 6/3
Floor_Devision = 3 // 21 #pembulatan desimal
Modulo = 7%2 #sisa hasil bagi
Pangkat = 2**2

Order of Operations (PEMDAS)

Ibu Mega sedang berbelanja ke toko buah untuk acara arisan. Beliau membeli buah Jeruk sebanyak 1 kg, buah Rambutan 2 kg, Semangka 2 buah yang beratnya masing-masing 4.2 kg dan 4.5 kg. Jika harga Jeruk Rp 22000 per kg, Rambutan Rp 20000 per kg, Semangka Rp 4000 per kg. Ternyata toko memberikan diskon sebesar 20% dari harga total pembelian. Berapakah total harga belanjaan Ibu Mega?

In [ ]:
jeruk = 1 * 22000
rambutan = 2 * 20000
semangka = (4.2 + 4.5) * 4000

# kemudian tambahkan semua total harga buahnya
total = jeruk + rambutan + semangka
print(total)

# hitung diskon
h_diskon = total * (20/100)
print(h_diskon)

# harga akhir
h_total = total - h_diskon
print(h_total)

In [ ]:
#String tanda kutip tunggal dan ganda dalam satu kalimat
print('''He said, "What's there?"''')
#String dalam variabel
string_2 = 'kuda itu aku beri nama jambul'
print(string_2)
#Tipe string
mobil = 'porsche'
print(type(mobil))

He said, "What's there?"
kuda itu aku beri nama jambul
<class 'str'>

In [ ]:
STR_1 = 'data'
STR_2 = 'science'
Concatenation = print(STR_1+STR_2)
Repetition = print(STR_1*2)
Slicing = print(STR_2[1:4]) #NAMA_VAR[start:stop-1]
#Mengambil indeks ke-n sampai akhir string
jam = 'jam tangan'
print(jam[2:])
#Mengambil karakter dari awal string sampai indeks ke-m
jam = 'jam tangan'
print(jam[:...])

datascience
datadata
cie

Kasus String

Boss anda menyuruh untuk mengambil data penjualan di bulan tertentu. Bagaimana cara anda untuk mendapatkan hanya bulannya saja di tanggal transaksi tersebut?

tgl_transaksi_1 = "02-01-2022"
tgl_transaksi_2 = "26-05-2022"

In [ ]:
tgl_transaksi_1 = '02-01-2022'
bulan_1 = tgl_transaksi_1[3:5]
print(bulan_1)

tgl_transaksi_2 = '26-05-2022'
bulan_2 = tgl_transaksi_2[3:5]
print(bulan_2)

String Method

In [ ]:
#Len (panjang string)
string_1 = 'python programming'
print(len(string_1))
#Upper (kapital)
pulau = 'Maluku'
print(pulau.upper())
#Lower (huruf kecil)
alatMusik = 'GITAR'
print(alatMusik.lower())
#Count (hitung karakter)
#coba hitung huruf 'o' pada sring_2 menggunakan count()
string_2 = 'jupyter notebook'
print(string_2.count('o'))
#Find (menemukan karakter)
# carilah karakter 'l' ada di indeks ke berapa dengan method find()
buah = 'kelapa'
print(buah.find('l'))
#Replace (mengganti karakter)
unggas = 'burung bangau'
print(unggas.replace('bangau','elang'))
#capitalize (ubah karakter pertama menjadi kapital)
pohon = 'cemara'
print(pohon.capitalize())

# **BOOLEAN**

In [ ]:
#Nilai logika true or false
#Operator Equality
#True
nama_tercantum = "Johan"
nama_penerima = "Johan"
# Kita bisa mengeluarkan output dengan dua cara (di Jupyter Notebook)
# Cara 1
print(nama_tercantum == nama_penerima)
# Cara 2
nama_tercantum == nama_penerima

#False
angka_1 = 0.232
angka_2 = 2.32
angka_1 != angka_2

#Operator Comparison
judul_film_pertama = 'Bersama Awan'
judul_film_kedua = 'Bersama Angin'
judul_film_pertama > judul_film_kedua

True

True

Boolean Logic I (AND, OR, NOT)

In [ ]:
#And (dua kondisi yang true)
3 < 4 and 3 < 2

False

In [ ]:
#Contoh
#Pengguna menggunakan promo pertama dan promo kedua
is_get_promo_pertama = True
is_get_promo_kedua = True
is_get_promo_pertama and is_get_promo_kedua

True

In [ ]:
#Pengguna menggunakan promo pertama saja
is_get_promo_pertama = True
is_get_promo_kedua = False
is_get_promo_pertama and is_get_promo_kedua

False

In [ ]:
#Pengguna menggunakan promo kedua saja
is_get_promo_pertama = False
is_get_promo_kedua = True
is_get_promo_pertama and is_get_promo_kedua

False

In [ ]:
#Pengguna yang tidak menggunakan promo
is_get_promo_pertama = False
is_get_promo_kedua = False
is_get_promo_pertama and is_get_promo_kedua

False

Perusahaan memberikan bonus insentif lebih untuk karyawan yang masuk tepat waktu dan juga setidaknya 1 kali lembur dalam sebulan. Pak Wira pernah melakukan lembur namun ia pernah terlambat maka, Buatlah boolean logic sesuai dengan kondisi Pak Wira.

In [ ]:
is_intime = False
is_overtime = True

is_intime and is_overtime

In [ ]:
#Or (false cuma ketika false & false)

NOT

In [ ]:
#Negasi dari nilai sebelumnya, True => False, False => True
kondisi_ibu_tidak_membeli_lemon = True
not kondisi_ibu_tidak_membeli_lemon
#operasi boolean untuk kondisi berikut: angka_3 kurang dari 15 dan angka_3 lebih dari 5 atau angka_3 bukan lebih dari 7
angka_3 <15 and angka_3 > 5 or not angka_3 >7

# **BRANCHING (IF, ELIF, ELSE)**

In [ ]:
#If
#if kondisi jika cuaca cerah
if cuaca_hari_ini ==  "cerah":
  #statement jika memenuhi if kondisi jika cuaca cerah
  print("aku pergi kepantai")

Supermarket A memberikan harga diskon 15% kepada pelanggan yang bertransaksi belanja lebih dari Rp100.000. Wawan tertarik dengan promosi tersebut maka Wawan membeli kebutuhan Wawan dan ternyata didapatkan hasil:

In [ ]:
#Tipe data integer
diskon = 0.15
total_belanja_wawan = 110_000
min_belanja = 100_000

if total_belanja_wawan >= min_belanja:
  print("mendapatkan diskon 15%")

  total_akhir = total_belanja_wawan - (total_belanja_wawan*diskon)
  print(f"total_belanja_wawan setelah diskon sebesar {total_akhir} rupiah")

#Tipe data boolean
is_promo = True
if is_promo == True:
  print("Selamat anda mendapatkan diskon")

mendapatkan diskon 15%
total_belanja_wawan setelah diskon sebesar 93500.0 rupiah
Selamat anda mendapatkan diskon

In [ ]:
#If/else
harga_laptop = 20_000_000
uang_wawan = 15_000_000
if uang_wawan >= harga_laptop:
    print("dapat membeli laptop")
else:
    print("tidak dapat membeli laptop")

In [ ]:
#Else if/ Elif
cuaca_hari_ini = "topan"
#if kondisi jika cuaca cerah
if cuaca_hari_ini == "cerah":

    #statement pertama
    print("Aku pergi ke Pantai")

#if kondisi kedua jika cuaca hujan
elif cuaca_hari_ini == "hujan":

    #statement kedua
    print("Aku pergi ke Bioskop")

#else jika tidak memenuhi kedua kondisi sebelumnya
else:

    #statement ketiga
    print("Aku istirahat di Rumah")

Branching + Boolean Logic

In [ ]:
username = "RayhanNaufal"

if username == "RayhanNaufal" or username == "AriefRahman":
    print(f"Selamat datang Administrator {username}")
else:
    print(f"Selamat datang User {username}")

Selamat datang User Sandi

Sebuah Toko Florist memberikan diskon 20% kepada pelanggan yang telah melakukan 3 transaksi sebelumnya
Akan memberi diskon 30% untuk pelanggan yang telah melakukan 7 kali transaksi sebelumnya
Gamal ingin membeli bouquet bunga dan sekarang merupakan transaksi yang ke 7 di Toko Florist tersebut
Buat program Branching di bawah ini berdasarkan case diatas!

In [ ]:
transaksi_ke = 7
harga_bouquet = 150000
diskon_20_persen = harga_bouquet - harga_bouquet * 0.2
diskon_30_persen= harga_bouquet - harga_bouquet * 0.3


if transaksi_ke == 3:
  print(f"Harga Bouquet Diskon 20% sebesar {diskon_30_persen}")
elif transaksi_ke == 7:
  print(f"Harga Bouquet Diskon 30% sebesar {diskon_30_persen}")
else:
  print(f"Harga Bouquet {harga_bouquet}")

Nested Branching

Yana saat ini bekerja sebagai sales sebuah brand sepeda motor. Tiap bulan, Yana perlu untuk menjual 10 sepeda motor. Namun, dari kantor dia bisa mendapatkan insentif jika mampu menjual 20 sepeda motor.

Bulan ini, Yana mampu menjual 30 sepeda motor:

Cek status sales Yana apakah sudah memenuhi target atau belum. Dan jika iya, apakah Yana bisa mendapatkan insentif bulan ini.

In [ ]:
sales_yana = 30
target_penjualan = 10
target_insentif = 20

# merupakan if <condition> membuat kondisi apakah
# penjualan wana lebih besar sama dengan target penjualan
if sales_yana >= target_penjualan:

    # merupakan nested branching if membuat kondisi apakah penjualan
    # yana selain mendapatkan target apakah yana mendapatkan insentif
    if sales_yana >= target_insentif:

        # statement jika bernilai true
        print('Yana memenuhi target dan mendapatkan insentif')

    else:
        # statement jika bernilai False atau tidak
        # memenuhi pada kondisi sales_yana >= target_insentif
        print('Yana memenuhi target')

else:
    # statement jika bernilai False atau tidak
    # memenuhi pada kondisi sales_yana >= target_penjualan
    print('Yana belum memenuhi target')

Yana memenuhi target dan mendapatkan insentif

Statement Pass

Mungkin sampai saat ini timbul pertanyaan. "Bagaimana kalau suatu kondisi terpenuhi, saya tidak ingin melakukan apa-apa?"
Jika bertemu dengan kasus seperti ini, maka yang bisa dilakukan adalah dengan menggunakan statement pass.
Jika Python bertemu statement pass, maka Python tidak akan melakukan apapun dan akan lanjut ke line berikutnya.
Bono ingin membuat alarm sederhana jika genangan air di sekitar lingkungan rumahnya di atas 5 cm. Dia hanya ingin alarm berbunyi jika kondisi tersebut terjadi.

Hari ini, walau situasi mulai menuju ke musim hujan genangan air di sekitar rumah Bono sebesar:

In [ ]:
tinggi_genangan_centimeter = 4

In [ ]:
# if jika tinggi genangan kurang dari atau sama dengan 5 cm
if tinggi_genangan_centimeter <= 5:

    #pass statement bahwa jika if kondisi memenuhi maka tidak melakukan apapun
    pass

else:

    #statement jika kondisi melebihi nilai ambang maka alarm berbunyi
    print("Alarm Berbunyi!")

# **Composite Data Structure**

In [ ]:
#List
# Mengambil angka 10_000_000 sampai angka 9_000_000 pada list profit -
# dengan kombinasi indeks negatif dan positif
profit = [5_000_000, 7_500_000, 3_500_000, 10_000_000,
          15_000_000,9_000_000, 11_000_000, 13_000_000]
print(profit[3:-2])
#Change list data
# coba ubah bunga Anggrek menjadi kamboja
list_bunga = ['Matahari', 'Anggrek', 'Lavender']
list_bunga[1] = 'Kamboja'
print(list_bunga)
#angka
list_angka = [4, 5, 6, 7]
#lakukan operasi tambah pada element indeks ke-1
list_angka[1] = list_angka[1] + 4
print(list_angka)

In [ ]:
#List Method
list_1 = [3, 3, 4, 5]
list_2 = ['string_1', 'string_3']
len(list_1)
list_1.append(6) #memasukkan element baru ke dalam list
list_2.insert(1,'string_2') #memasukkan element baru sesuai indeks ke dalam list
3 in list_1 #melihat apakah item ada di dalam list atau tidak
list_2.index('string_3') #mencari indeks element di dalam list
list_1.count(3) #menghitung suatu element di dalam list
list_1.remove(4) #mengeluarkan/menghapus elemen dari dalam list
list_1.pop(3) #mengeluarkan/menghapus elemen dari suatu index

Dictionary

In [ ]:
#Mix dictionary
mix_dict = {1: 2,
            "kota": "jakarta",
            2.0: "surabaya",
            "genap": [2, 4, 6]}
print(mix_dict)
#Empty dictionary
empty_dict_2 = dict()
print(empty_dict_2)
#Mengeluarkan elemen dictionary
nilai_dict = {'Bambang':80, 'Agus':95, 'Laras':90}
print(f'Nilai Bambang : {nilai_dict["Bambang"]}')
print(f'Nilai Agus : {nilai_dict["Agus"]}')
print(f'Nilai Laras : {nilai_dict["Laras"]}')
#Mengganti value pada dictionary
warna_buah = {'Pisang':'Kuning', 'Apel':'Merah', 'Kiwi':'Hijau'}
warna_buah['Apel'] = 'Hijau'
print(warna_buah)

In [ ]:
#Dictionary Method
dict_1 = {'Nama': 'Dani', 'Usia':24}
dict_2 = {'Nama': 'Lala', 'Usia':19}
len(dict_1)
dict_1.get('Nama') #mendapatkan element dari key
dict_1.key() #mendapatkan semua key
dict_1.values() #mendapatkan semua value
dict_1.pop('Usia') #mengeluarkan atau menghapus key dan value
dict_1.update(dict_2) #menambah atau menggabungkan data
dict_1.copy() #membuat duplikasi
dict_1.clear #menghapus semua key dan value

Tuple

In [ ]:
#Tuple nilainya immutable (tidak bisa diubah)
buah = ("Apel", "Jeruk", "Mangga")
print(buah)
#Indeks pada tuple
angka = (24, 33, 23, 90, 45)
print(angka)
print(f'element pada indeks ke-4 pada tuple angka adalah : {angka[4]}')
print(f'element pada indeks ke-2 pada tuple angka adalah : {angka[2]}')
#Mengambil indeks
bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f'element indeks ke-2 sampai terakhir pada tuple bunga adalah : {bunga[2:]}')
#Mengambil element pada awal tuple sampai indeks ke m-1
bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f'Element indeks pertama sampai indeks ke-3 pada tuple bunga adalah : {bunga[:4]}')
#Slicin
bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f'Element pada indeks ke-0 sampai ke-2 pada tuple bunga adalah : {bunga[0:3]}')
print(f'{bunga[1:-1]}')

#Tuple Methods
tuple_1 = (3, 3, 4, 5)
tuple_2 = ('string_1', 'string_3')
tuple_1 + tuple_2 #menggabungkan 2 tuple

('Apel', 'Jeruk', 'Mangga')
element pada indeks ke-4 pada tuple angka adalah : 45
element pada indeks ke-2 pada tuple angka adalah : 23

Set

In [ ]:
#menyimpan sebuah data tidak berurutan
num_set = {1, 2, 3, 3, 1, 4}
buah_set = {'Semangka', 'Alpukat', 'Apel', 'Semangka', 'Apel'}
print(num_set)
print(buah_set)
#tidak perlu keys seperti pada dictionary
#Sebuah set tidak memiliki urutan
my_set = {1, "a", 2, "b", "apel"}
print(my_set)

In [ ]:
#Set Methods
set_1 = {3, 4, 5, 6}
set_2 = {1, 2, 3, 6}
set_1.add(7) #menambah element
set_1.update(set_2) #menambah set, list atau tuple ke dalam set
set_1.discard(3) #menghapus element dari dalam set
set_1.union(set_2) #Gabungan (Union)
set_1.intersection(set_2)	#Irisan (Intersection)

# **LOOPING**

In [ ]:
#For Loop
for angka in 0,1,2,3,4:
    print('Hello World')
for angka in 0,1,2,3,4:
    print(f'Hello World ke-{angka}')
#Pengulangan banyak
for angka in range(5):
    print(angka)
#Pengulangan bersyarat
for angka in range(5,11):
    print(angka)
#Print angka genap dari 1 sampai 10 (range(begin,end,step))
for angka in range(0, 10, 2):
    print(angka)
#Urutan angka dari besar ke kecil
for angka in range(10, 0, -1):
    print(angka)

In [ ]:
#Nested Loop
for bulan in range (1,13):
    print(f'Bulan {bulan}')
    for tanggal in range(1,31):
        print(f'Tanggal {tanggal}')
#tabel perkalian dari 3 dan 4 dari angka 1 sampai 5
for angka_1 in range (3, 5):
    for angka_2 in range (1, 6):
        perkalian = angka_1 * angka_2
        print(f'{angka_1} * {angka_2} = {perkalian}')
    print('---')

In [ ]:
#Loop in Composite Data Structure
list_kota = ['Surabaya', 'Malang', 'Bandung']
for kota in list_kota:
    print(kota)
#Dictionary
dict_kota = {'Kota_1':'Surabaya', 'Kota_2':'Malang', 'Kota_3':'Bandung'}
for kota in dict_kota:
    print(f'key: {kota} | Value: {dict_kota[kota]}')
#atau
dict_kota = {'Kota_1':'Surabaya', 'Kota_2':'Malang', 'Kota_3':'Bandung'}
print(dict_kota.items())
#Unpacking method
dict_kota = {'Kota_1':'Surabaya', 'Kota_2':'Malang', 'Kota_3':'Bandung'}
for key,value in dict_kota.items():
# variabel key,value akan menyimpan nilai key dan value dari method items()
  print(f'key: {key} | Value: {value}')

In [ ]:
#For Looping Enumerate (enumerate(iterable, start=0)
list_kota = ['Surabaya', 'Malang', 'Bandung']
for kota in enumerate(list_kota):
    print(kota)
#Menambahkan start untuk custom
for kota in enumerate(list_kota, start=10):
    print(kota)
#Menggunakan Unpack
for num, kota in enumerate(list_kota, start=10):
    print(f'nomor {num} adalah kota {kota}')

While Loop

In [ ]:
counter = 0
max = 5

while counter <= max: #jika counter masih kurang dari max, code akan tetap berjalan
    print(f'Sekarang angka {counter}')
    counter += 1 #counter akan ditambahkan 1 agar perulangan bisa berhenti

Sekarang angka 0
Sekarang angka 1
Sekarang angka 2
Sekarang angka 3
Sekarang angka 4
Sekarang angka 5

In [ ]:
angka = 5
while angka >= 0: # "angka" disini memenuhi kondisi while, maka looping akan berjalan
    print(angka)
    angka -= 1 # variabel angka akan dikurangi dengan 1 sampai kondisi di atas tidak terpenuhi

5
4
3
2
1
0

In [ ]:
angka = 1
while angka <= 10:
    perkalian = angka*2
    print(f'{angka} x 2 = {perkalian}')
    angka += 1

In [ ]:
#While-else
numb = 1

while numb <= 3: # jika nilai numb masih kurang sama dengan tiga maka proses akan terus berlangsung
    print(f'Nilai numb sekarang {numb}')
    numb += 1
else: # else akan di eksekusi karena nilai numb sudah lebih dari 3
    print(f"Nilai numb sekarang {numb} sudah lebih dari 3.")

Combining Looping with Branching

In [ ]:
# Bilangan kelipatan 4 dari 1 sampai 50

for angka in range(1,50):
    if angka % 4 == 0:
        print(angka, end=' ')


Diskon akan diberikan ketika harga total belanja kita lebih dari Rp. 150.000

In [ ]:
total_harga = 0
prosentase_diskon = (2/100)
list_harga = [20_000, 41_000, 90_000]

for harga in list_harga:
    total_harga += harga

  # if di deklarasikan di dalam for dengan indentasi yang lebih tinggi
  # jika total harga belanja kita lebih dari 150.000 maka blok if akan dijalakan
    if total_harga >= 150_000:
        print(f'Total belanjaan anda Rp {total_harga}')

        diskon = prosentase_diskon * total_harga
        print(f'Anda mendapat diskon 2% dan berhemat Rp {diskon}')

        total_harga = total_harga - diskon

print(f'Anda harus membayar Rp {total_harga}')

Loop Control Flow

In [ ]:
#Break
list_kota = ['Surabaya', 'Malang', 'Bandung']
for kota in list_kota:
    if kota == "Malang":
        break
    print(f'Hallo {kota}')

In [ ]:
kalimat = 'Doni suka makan ayam bakar dan sate'

#hentikan perulangan di bawah ketika menemukan kata 'ayam' pada variabel kalimat

for kata in kalimat.split():
  if kata == 'ayam':
    break
  print(kata, end=' ')

Doni suka makan

In [ ]:
#Continue
list_kota = ['Surabaya', 'Malang', 'Bandung']

for kota in list_kota:
    if kota == "Malang":
        continue
    print(f'Hallo {kota}')

In [ ]:
#Perulangan untuk menampilkan angka 1 - 10
#namun kelipatan tiga tidak dimasukkan

for angka in range(1, 10):
    if angka % 3 == 0:
        continue
    print(angka, end=' ')
    angka += 1

In [ ]:
#Pass
list_kota = ['Surabaya', 'Malang', 'Bandung']

for kota in list_kota:
    if kota == "Malang":
        pass
        print('Pass dieksekusi')
    print(kota)

List Comprehension

In [ ]:
#coba jalankan code dibawah
list_gaji = [2_000_000, 3_500_000, 4_500_000, 2_500_000]

list_gaji_baru_2 = [gaji for gaji in list_gaji]

print(list_gaji_baru_2)

In [ ]:
list_gaji = [2_000_000, 3_500_000, 4_500_000, 2_500_000]

#membagi list_gaji dengan angka lima
list_gaji_baru = [gaji/5 for gaji in list_gaji]
print(list_gaji_baru)

In [ ]:
#ambil angka yang lebih besar dari 5 dari numb_list
#dan masukkan ke variabel baru bernama new_numb_list
numb_list = [1,2,3,4,5,6,7,8,9,10]

new_numb_list = [numb for numb in numb_list if numb > 5]

# kemudian print variabel new_numb_list
print(new_numb_list)

In [ ]:
list_angka = [angka for angka in range(0,10)]
print(list_angka)

In [ ]:
#pemanfaatan fungsi range()
list_angka = [angka for angka in range(1,500) if angka % 17 == 0]
print(list_angka)

# **FUNCTION I**

In [ ]:
#Example
def perkalian(num_1,num_2):
    print(f"hasil perkalian {num_1} dan {num_2} = {num_1 * num_2} ")
#Memanggil fungsi untuk dapat menampilkan hasil perkalian sesuai dengan keinginan user
#Menampilkan hasil perkalian 2 dan 3
#num_1 = 2, num_2 = 3
perkalian(2,3)

#Menampilkan hasil perkalian 2 dan 4
#num_1 = 2, num_2 = 4
perkalian(2,4)

#Menampilkan hasil perkalian 2 dan 5
#num_1 = 2, num_2 = 5
perkalian(2,5)

#Menampilkan hasil perkalian 2 dan 6
#num_1 = 2, num_2 = 6
perkalian(2,6)

In [ ]:
# fungsi dengan parameter
def identitas(nama) :
    print(nama)

# memanggil fungsi
identitas('Rangga')

In [ ]:
#fungsi dengan mengimplementasikan brancing dan looping
# Jika produk merupakan produk promo, maka akan mendapat potongan harga 50%
# Jika bukan merupakan produk promo, maka tetap membayar harga normal

def diskon(promo, harga):
    if promo == True:
        potongan = 50/100
        total_harga = int(harga * potongan)
        print(total_harga)

    else:
        print(harga)

diskon(True, 100000)
diskon(False, 100000)

In [ ]:
#fungsi menggunakan looping dan list
def daftar_kriteria():
    list_text = ["Menguasai bahasa python", "Mampu menganalisa data", "Memiliki sertifikat pendukung"]
    for index in range(len(list_text)):
        print(list_text[index])

In [ ]:
def jadwal_catering(hari):
  if (hari == "Senin" or hari == "senin"):
    print("Menu makan hari Senin adalah Nasi Kuning.")

  elif hari == "Selasa" or hari == "selasa" :
    print("Menu makan hari Selasa adalah Salad Sayur.")

  elif hari == "Rabu" or hari == "rabu" :
    print("Menu makan hari Rabu adalah Soto Ayam.")

  elif hari == "Kamis" or hari == "kamis" :
    print("Menu makan hari Kamis adalah Nasi Goreng.")

  elif hari == "Jumat" or hari == "jumat" :
    print("Menu makan hari Jumat adalah Rawon.")

  else :
    print("Menu makan tidak tersedia.")


# memanggil fungsi
jadwal_catering("Rabu")
jadwal_catering("Kamis")
jadwal_catering("Jumat")
jadwal_catering("Sabtu")

In [ ]:
#Input tidak urut
#fungsi dengan keyword arguments
def identitas(nama, asal, umur):
    print(f'{nama} berasal dari {asal} berumur {str(umur)} tahun')

# memanggil fungsi
identitas( umur='22', nama='Astri', asal ='Malang')
#Example
#membuat fungsi
def pegawai( nama, departemen, tahun ):
    print(f' {nama}, merupakan karyawan dari departemen {departemen} sejak tahun {tahun}.')

# memanggil fungsi
pegawai(nama =  'Chaidar Abdul' , departemen = 'public relation' , tahun = 2010 )
pegawai(nama =  'Fajariyah Ainun' , departemen = 'marketing' , tahun = 2014 )

In [ ]:
#Default Value
# fungsi dengan keyword arguments
def luas_lingkaran(jari_jari, PI = 3.14): #default value = 3.14
    print(f"Luas lingkaran dari jari-jari {jari_jari} adalah {PI*jari_jari*jari_jari}")

# memanggil fungsi
luas_lingkaran(4)
luas_lingkaran(8)
luas_lingkaran(12)

In [ ]:
#Return
#luas_segitiga yang mengembalikan nilai.
#dengan nilai alas = 13 dan tinggi = 17
def luas_segitiga(alas, tinggi):
    luas = (alas*tinggi)/2
    return luas

#memanggil fungsi
luas_segitiga(13,17)

Sebuah pabrik karet memproduksi dan menjual karet keseluruh indonesia.
Kamu diminta untuk membuat fungsi profit yang menghitung keuntungan penjualan karet.
Rumus yang digunakan untuk membangun fungsi:
hitung_profit = total_sales - total_cost
total_sales = jumlah_produk * harga_jual
total_cost = jumlah_produk * biaya_produksi

In [ ]:
def profit (jumlah_produk, harga_jual, biaya_produksi):
    total_sales = jumlah_produk*harga_jual
    total_cost = jumlah_produk*biaya_produksi
    profit = total_sales - total_cost
    return profit
# memanggil fungsi
profit (10, 1000, 100)

In [ ]:
#arbitrary arguments *args
#jumlah parameter tidak jelas atau tidak pasti
def pelanggan(*nama):
    print("Pelanggan toko hari ini :",nama)

pelanggan('Farhan', 'Fitri', 'Calysta', 'Chaidar', 'Nur')
#indexing
def pelanggan(*nama):
    print("Pelanggan toko hari ini :",nama[0]) #mengambil index ke-0 saja

pelanggan('Farhan', 'Fitri', 'Calysta', 'Chaidar', 'Nur')
#loop
# membuat fungsi cetak dengan argumen *args
def pelanggan(*nama):
    for daftar_pengunjung in nama:
        print("Pelanggan toko hari ini :", daftar_pengunjung)

# memanggil fungsi
pelanggan('Farhan', 'Fitri', 'Calysta', 'Chaidar', 'Nur')

In [1]:
#Arbitrary Keyword Arguments (**kwargs)
#membuat fungsi dengan argumen **kwargs
def pelanggan(**daftar_pengunjung):
    print(daftar_pengunjung)

#memanggil fungsi
pelanggan(nama="Farhan", pembelian = "minyak goreng, beras")
pelanggan(nama="Fitri", pembelian = "beras")
pelanggan(nama="Budi", pembelian = "mi goreng")

{'nama': 'Farhan', 'pembelian': 'minyak goreng, beras'}
{'nama': 'Fitri', 'pembelian': 'beras'}
{'nama': 'Budi', 'pembelian': 'mi goreng'}

In [ ]:
#args
#contoh menggunakan *args
def daftar_kriteria(*daftar):
    for value in range(len(daftar)):
        print (daftar[value])

daftar_kriteria("Menguasai bahasa python", "Mampu menganalisa data", "Memiliki sertifikat pendukung", "Menguasai SQL")
#kwargs
#contoh menggunakan **kwargs
def daftar_kriteria(**daftar):
    for key, value in daftar.items():
        print(f"{key} : {value}")

daftar_kriteria(syarat_1 = "Menguasai bahasa python", syarat_2 = "Mampu menganalisa data", syarat_3 = "Memiliki sertifikat pendukung", syarat_4 = "Menguasai SQL")

 Fungsi bernama kalender yang hanya dapat menampilkan nilai Jumat

In [ ]:
# membuat fungsi
def kalender (*hari):
        print (hari[4])
# memanggil fungsi
kalender('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')

Docstring

In [ ]:
#dokumentasi atau keterangan singkat memahami fungsi
def sebuah_fungsi():
    """Menampilkan "Hello World!" ketika dipanggil."""
    print("Hello World!")

In [ ]:
def daftar_kriteria():
    "Menampilkan list kriteria mendaftar sebagai data analyst."
    list_text = ["Menguasai bahasa python", "Mampu menganalisa data", "Memiliki sertifikat pendukung"]
    for index in range(len(list_text)):
        print (list_text[index])

Lambda

In [ ]:
#fungsi biasa
def sentence(nama):
    sapa = f"Hello, {nama}"
    print(sapa)

sentence("World!")
sentence("Friends!")

#fungsi lambda
sapa = lambda nama: print(f"Hello, {nama}")

sapa("World!")
sapa("Friends!")

In [ ]:
profit = lambda pendapatan, pengeluaran: pendapatan - pengeluaran

profit(1200000, 935000)

In [ ]:
#Contoh lainnya
#Fungsi biasa
def perhitungan(num):
    if num < 10:
        return num+1
    else:
        return 2*num
perhitungan(10)
#diubah menjadi lambda
hitung = lambda num: num+1 if num < 10 else 2*num
#menjalankan fungsi lambda yang sudah dibuat
hitung(5)

In [ ]:
cuti = lambda lembur,bolos: print('Karyawan diperbolehkan cuti') if lembur >= 8 and bolos < 4 else  print('Karyawan tidak diperbolehkan cuti')
#memanggil fungsi lambda
cuti(10,3)
cuti(10,5)

Terdapat fungsi sederhana perhitungan margin laba kotor untuk kepenting evaluasi penjualan suatu produk.
Agar program terlihat lebih sederhana, user ingin mengubah fungsi biasa kedalam bentuk lambda. Ubah margin_kotor kedalam fungsi lambda

In [ ]:
#fungsi biasa
def margin_kotor(laba_kotor, pendapatan):
    hitung = (laba_kotor / pendapatan) * 100
    print(f"Margin laba kotor sebesar {int(hitung)}%")

#fungsi lambda
margin_kotor = lambda laba_kotor, pendapatan : print(f"Margin laba kotor sebesar {int((laba_kotor / pendapatan) * 100)}%")

#memanggil fungsi
margin_kotor(150000, 250000)