<a href="https://colab.research.google.com/github/ChairunnisaAnggunSetiono/Python-Learning-Basic/blob/main/Python_Learning_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Printing

In [ ]:
#Print Words
print("Halo Dunia")
#Print Angka
print(20)
print(20000)

Halo Dunia
20
20000

Variables

In [5]:
#Variables
angka_1 = 121839128931289381293812938129381293812938912389128391289381238129312
angka_2 = 1213812309123890128391238128390128390812908908

jumlah = angka_1 + angka_2
jumlah
#Text
text = "Saya sedang belajar membuat variabel"
#Text Berisi
sisi_persegi = 6

More Printing

In [6]:
#Printing Isi Variabel
nama_lengkap = "Raditya Dika"
print(nama_lengkap)
#Printing menggunakan %-formatting
#Text
nama1 = "Rima"
nama2 = "Budi"
print("Hello, %s" % nama1)
print("Hello, %s" % nama2)
#Angka
angka1 = 21
angka2 = 20
print("Inilah adalah angka %d" % angka1)
print("Inilah adalah angka %d" % angka2)
#Gabungan
# Coba code di sini
nama = "Budi"
umur = 22
print("Halo saya %s. Saya berumur %d tahun." %(nama,umur))
#Printing menggunakan f-string
ayam = 15000
bumbu = 10000
beras = 50000
total_belanja = 16000
print(f"Harga ayam adalah {ayam} rupiah, harga bumbu adalah {bumbu} rupiah, harga beras adalah {beras} rupiah. Maka total belanja adalah {total_belanja} rupiah")

Raditya Dika
Hello, Rima
Hello, Budi
Inilah adalah angka 21
Inilah adalah angka 20
Halo saya Budi. Saya berumur 22 tahun.
Harga ayam adalah 15000 rupiah, harga bumbu adalah 10000 rupiah, harga beras adalah 50000 rupiah. Maka total belanja adalah 16000 rupiah

# **Primitive Data Structure**

In [8]:
#Integer:bilangan bulat (negatif dan positif)
print(1)
#Tipe data sebuah karakter
print(type(6))
#tipe data dari sebuah variabel
int_2 = 23
print(type(int_2))

1
<class 'int'>
<class 'int'>

In [ ]:
#Float:angka desimal
print(3.14)
pi = 3.14
print(type(pi))

In [11]:
#Operasi Matematika
Pembagian = 6/3
Floor_Devision = 3 // 21 #pembulatan desimal
Modulo = 7%2 #sisa hasil bagi
Pangkat = 2**2

Order of Operations (PEMDAS)

Ibu Mega sedang berbelanja ke toko buah untuk acara arisan. Beliau membeli buah Jeruk sebanyak 1 kg, buah Rambutan 2 kg, Semangka 2 buah yang beratnya masing-masing 4.2 kg dan 4.5 kg. Jika harga Jeruk Rp 22000 per kg, Rambutan Rp 20000 per kg, Semangka Rp 4000 per kg. Ternyata toko memberikan diskon sebesar 20% dari harga total pembelian. Berapakah total harga belanjaan Ibu Mega?

In [ ]:
jeruk = 1 * 22000
rambutan = 2 * 20000
semangka = (4.2 + 4.5) * 4000

# kemudian tambahkan semua total harga buahnya
total = jeruk + rambutan + semangka
print(total)

# hitung diskon
h_diskon = total * (20/100)
print(h_diskon)

# harga akhir
h_total = total - h_diskon
print(h_total)

In [15]:
#String tanda kutip tunggal dan ganda dalam satu kalimat
print('''He said, "What's there?"''')
#String dalam variabel
string_2 = 'kuda itu aku beri nama jambul'
print(string_2)
#Tipe string
mobil = 'porsche'
print(type(mobil))

He said, "What's there?"
kuda itu aku beri nama jambul
<class 'str'>

In [21]:
STR_1 = 'data'
STR_2 = 'science'
Concatenation = print(STR_1+STR_2)
Repetition = print(STR_1*2)
Slicing = print(STR_2[1:4]) #NAMA_VAR[start:stop-1]
#Mengambil indeks ke-n sampai akhir string
jam = 'jam tangan'
print(jam[2:])
#Mengambil karakter dari awal string sampai indeks ke-m
jam = 'jam tangan'
print(jam[:...])

datascience
datadata
cie

Kasus String

Boss anda menyuruh untuk mengambil data penjualan di bulan tertentu. Bagaimana cara anda untuk mendapatkan hanya bulannya saja di tanggal transaksi tersebut?

tgl_transaksi_1 = "02-01-2022"
tgl_transaksi_2 = "26-05-2022"

In [ ]:
tgl_transaksi_1 = '02-01-2022'
bulan_1 = tgl_transaksi_1[3:5]
print(bulan_1)

tgl_transaksi_2 = '26-05-2022'
bulan_2 = tgl_transaksi_2[3:5]
print(bulan_2)

String Method

In [ ]:
#Len (panjang string)
string_1 = 'python programming'
print(len(string_1))
#Upper (kapital)
pulau = 'Maluku'
print(pulau.upper())
#Lower (huruf kecil)
alatMusik = 'GITAR'
print(alatMusik.lower())
#Count (hitung karakter)
#coba hitung huruf 'o' pada sring_2 menggunakan count()
string_2 = 'jupyter notebook'
print(string_2.count('o'))
#Find (menemukan karakter)
# carilah karakter 'l' ada di indeks ke berapa dengan method find()
buah = 'kelapa'
print(buah.find('l'))
#Replace (mengganti karakter)
unggas = 'burung bangau'
print(unggas.replace('bangau','elang'))
#capitalize (ubah karakter pertama menjadi kapital)
pohon = 'cemara'
print(pohon.capitalize())

# **BOOLEAN**

In [1]:
#Nilai logika true or false
#Operator Equality
#True
nama_tercantum = "Johan"
nama_penerima = "Johan"
# Kita bisa mengeluarkan output dengan dua cara (di Jupyter Notebook)
# Cara 1
print(nama_tercantum == nama_penerima)
# Cara 2
nama_tercantum == nama_penerima

#False
angka_1 = 0.232
angka_2 = 2.32
angka_1 != angka_2

#Operator Comparison
judul_film_pertama = 'Bersama Awan'
judul_film_kedua = 'Bersama Angin'
judul_film_pertama > judul_film_kedua

True

True

Boolean Logic I (AND, OR, NOT)

In [3]:
#And (dua kondisi yang true)
3 < 4 and 3 < 2

False

In [5]:
#Contoh
#Pengguna menggunakan promo pertama dan promo kedua
is_get_promo_pertama = True
is_get_promo_kedua = True
is_get_promo_pertama and is_get_promo_kedua

True

In [6]:
#Pengguna menggunakan promo pertama saja
is_get_promo_pertama = True
is_get_promo_kedua = False
is_get_promo_pertama and is_get_promo_kedua

False

In [7]:
#Pengguna menggunakan promo kedua saja
is_get_promo_pertama = False
is_get_promo_kedua = True
is_get_promo_pertama and is_get_promo_kedua

False

In [8]:
#Pengguna yang tidak menggunakan promo
is_get_promo_pertama = False
is_get_promo_kedua = False
is_get_promo_pertama and is_get_promo_kedua

False

Perusahaan memberikan bonus insentif lebih untuk karyawan yang masuk tepat waktu dan juga setidaknya 1 kali lembur dalam sebulan. Pak Wira pernah melakukan lembur namun ia pernah terlambat maka, Buatlah boolean logic sesuai dengan kondisi Pak Wira.

In [ ]:
is_intime = False
is_overtime = True

is_intime and is_overtime

In [ ]:
#Or (false cuma ketika false & false)

NOT

In [ ]:
#Negasi dari nilai sebelumnya, True => False, False => True
kondisi_ibu_tidak_membeli_lemon = True
not kondisi_ibu_tidak_membeli_lemon
#operasi boolean untuk kondisi berikut: angka_3 kurang dari 15 dan angka_3 lebih dari 5 atau angka_3 bukan lebih dari 7
angka_3 <15 and angka_3 > 5 or not angka_3 >7

# **BRANCHING (IF, ELIF, ELSE)**

In [ ]:
#If
#if kondisi jika cuaca cerah
if cuaca_hari_ini ==  "cerah":
  #statement jika memenuhi if kondisi jika cuaca cerah
  print("aku pergi kepantai")

Supermarket A memberikan harga diskon 15% kepada pelanggan yang bertransaksi belanja lebih dari Rp100.000. Wawan tertarik dengan promosi tersebut maka Wawan membeli kebutuhan Wawan dan ternyata didapatkan hasil:

In [12]:
#Tipe data integer
diskon = 0.15
total_belanja_wawan = 110_000
min_belanja = 100_000

if total_belanja_wawan >= min_belanja:
  print("mendapatkan diskon 15%")

  total_akhir = total_belanja_wawan - (total_belanja_wawan*diskon)
  print(f"total_belanja_wawan setelah diskon sebesar {total_akhir} rupiah")

#Tipe data boolean
is_promo = True
if is_promo == True:
  print("Selamat anda mendapatkan diskon")

mendapatkan diskon 15%
total_belanja_wawan setelah diskon sebesar 93500.0 rupiah
Selamat anda mendapatkan diskon

In [ ]:
#If/else
harga_laptop = 20_000_000
uang_wawan = 15_000_000
if uang_wawan >= harga_laptop:
    print("dapat membeli laptop")
else:
    print("tidak dapat membeli laptop")

In [ ]:
#Else if/ Elif
cuaca_hari_ini = "topan"
#if kondisi jika cuaca cerah
if cuaca_hari_ini == "cerah":

    #statement pertama
    print("Aku pergi ke Pantai")

#if kondisi kedua jika cuaca hujan
elif cuaca_hari_ini == "hujan":

    #statement kedua
    print("Aku pergi ke Bioskop")

#else jika tidak memenuhi kedua kondisi sebelumnya
else:

    #statement ketiga
    print("Aku istirahat di Rumah")

Branching + Boolean Logic

In [13]:
username = "RayhanNaufal"

if username == "RayhanNaufal" or username == "AriefRahman":
    print(f"Selamat datang Administrator {username}")
else:
    print(f"Selamat datang User {username}")

Selamat datang User Sandi

Sebuah Toko Florist memberikan diskon 20% kepada pelanggan yang telah melakukan 3 transaksi sebelumnya
Akan memberi diskon 30% untuk pelanggan yang telah melakukan 7 kali transaksi sebelumnya
Gamal ingin membeli bouquet bunga dan sekarang merupakan transaksi yang ke 7 di Toko Florist tersebut
Buat program Branching di bawah ini berdasarkan case diatas!

In [ ]:
transaksi_ke = 7
harga_bouquet = 150000
diskon_20_persen = harga_bouquet - harga_bouquet * 0.2
diskon_30_persen= harga_bouquet - harga_bouquet * 0.3


if transaksi_ke == 3:
  print(f"Harga Bouquet Diskon 20% sebesar {diskon_30_persen}")
elif transaksi_ke == 7:
  print(f"Harga Bouquet Diskon 30% sebesar {diskon_30_persen}")
else:
  print(f"Harga Bouquet {harga_bouquet}")

Nested Branching

Yana saat ini bekerja sebagai sales sebuah brand sepeda motor. Tiap bulan, Yana perlu untuk menjual 10 sepeda motor. Namun, dari kantor dia bisa mendapatkan insentif jika mampu menjual 20 sepeda motor.

Bulan ini, Yana mampu menjual 30 sepeda motor:

Cek status sales Yana apakah sudah memenuhi target atau belum. Dan jika iya, apakah Yana bisa mendapatkan insentif bulan ini.

In [15]:
sales_yana = 30
target_penjualan = 10
target_insentif = 20

# merupakan if <condition> membuat kondisi apakah
# penjualan wana lebih besar sama dengan target penjualan
if sales_yana >= target_penjualan:

    # merupakan nested branching if membuat kondisi apakah penjualan
    # yana selain mendapatkan target apakah yana mendapatkan insentif
    if sales_yana >= target_insentif:

        # statement jika bernilai true
        print('Yana memenuhi target dan mendapatkan insentif')

    else:
        # statement jika bernilai False atau tidak
        # memenuhi pada kondisi sales_yana >= target_insentif
        print('Yana memenuhi target')

else:
    # statement jika bernilai False atau tidak
    # memenuhi pada kondisi sales_yana >= target_penjualan
    print('Yana belum memenuhi target')

Yana memenuhi target dan mendapatkan insentif

Statement Pass

Mungkin sampai saat ini timbul pertanyaan. "Bagaimana kalau suatu kondisi terpenuhi, saya tidak ingin melakukan apa-apa?"
Jika bertemu dengan kasus seperti ini, maka yang bisa dilakukan adalah dengan menggunakan statement pass.
Jika Python bertemu statement pass, maka Python tidak akan melakukan apapun dan akan lanjut ke line berikutnya.
Bono ingin membuat alarm sederhana jika genangan air di sekitar lingkungan rumahnya di atas 5 cm. Dia hanya ingin alarm berbunyi jika kondisi tersebut terjadi.

Hari ini, walau situasi mulai menuju ke musim hujan genangan air di sekitar rumah Bono sebesar:

In [ ]:
tinggi_genangan_centimeter = 4

In [ ]:
# if jika tinggi genangan kurang dari atau sama dengan 5 cm
if tinggi_genangan_centimeter <= 5:

    #pass statement bahwa jika if kondisi memenuhi maka tidak melakukan apapun
    pass

else:

    #statement jika kondisi melebihi nilai ambang maka alarm berbunyi
    print("Alarm Berbunyi!")